.App {
  text-align: center;
  background-color: rgb(221, 243, 255);
}

.coin-table{
  margin: 50px auto 50px auto;
  display: inline-block;
  font-size: 1.4rem;
}

.App-logo {
  height: 5rem;
  pointer-events: none;
}

.App-title{
  font-size: 3rem;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
